.minecraft/logs
.minecraft/crash-reports
*.log

.minecraft/journeymap/data
.minecraft/journeymap/defaultconfig.json
.minecraft/journeymap/icon
.minecraft/journeymap/journeymap.log
.minecraft/journeymap/server
.minecraft/journeymap/web

.minecraft/.mixin.out
.minecraft/.qmenu_opened.marker
.minecraft/XaeroWaypoints_BACKUP240807
.minecraft/armourers_workshop
.minecraft/coremods
.minecraft/data
.minecraft/defaultconfigs
.minecraft/emi.json
.minecraft/fabricloader.log
.minecraft/hotbar.nbt
.minecraft/hs_err_pid15960.log
.minecraft/hs_err_pid17508.log
.minecraft/hs_err_pid20172.log
.minecraft/hs_err_pid20772.log
.minecraft/hs_err_pid24668.log
.minecraft/hs_err_pid24980.log
.minecraft/hs_err_pid25720.log
.minecraft/hs_err_pid9504.log
.minecraft/immersive_paintings
.minecraft/immersive_paintings_cache
.minecraft/local
.minecraft/mod_data
.minecraft/modernfix
.minecraft/mods/.connector
.minecraft/observable_announce
.minecraft/oneoftheseisafuckingvirusbruh
.minecraft/patchouli_books
.minecraft/replay_pid25720.log
.minecraft/resourcepacks
.minecraft/rhino.local.properties
.minecraft/saves
.minecraft/schematics
.minecraft/screenshots
.minecraft/server-resource-packs
.minecraft/servers.dat_old
.minecraft/shaderpacks
.minecraft/texturepacks
.minecraft/usercache.json
.minecraft/usernamecache.json
.minecraft/xaero

# These are configs that weidly auto update
# Make sure to remove them from ignore if they end up being changed
.minecraft/config/oculus.properties
.minecraft/config/oculus.properties
.minecraft/config/packetfixer.properties
.minecraft/config/biomeswevegone/world_generation.json5
.minecraft/config/fabric/indigo-renderer.properties
.minecraft/config/inventoryprofilesnext/147.185.221.22&55451/prev-villager-trading-config.json
.minecraft/config/inventoryprofilesnext/147.185.221.22&55451/villager-trading-config.json
.minecraft/config/sound_physics_remastered/occlusion.properties
.minecraft/config/sound_physics_remastered/reflectivity.properties
.minecraft/config/voicechat/username-cache.json
