.minecraft/logs
.minecraft/crash-reports

.minecraft/journeymap/
!.minecraft/journeymap/config/

.minecraft/.mixin.out
.minecraft/.qmenu_opened.marker
.minecraft/XaeroWaypoints_BACKUP240807
.minecraft/armourers_workshop
.minecraft/coremods
.minecraft/data
.minecraft/defaultconfigs
.minecraft/emi.json
.minecraft/fabricloader.log
.minecraft/hotbar.nbt
.minecraft/hs_err_pid15960.log
.minecraft/hs_err_pid17508.log
.minecraft/hs_err_pid20172.log
.minecraft/hs_err_pid20772.log
.minecraft/hs_err_pid24668.log
.minecraft/hs_err_pid24980.log
.minecraft/hs_err_pid25720.log
.minecraft/hs_err_pid9504.log
.minecraft/immersive_paintings
.minecraft/immersive_paintings_cache
.minecraft/local
.minecraft/mod_data
.minecraft/modernfix
.minecraft/mods/.connector
.minecraft/observable_announce
.minecraft/oneoftheseisafuckingvirusbruh
.minecraft/patchouli_books
.minecraft/replay_pid25720.log
.minecraft/resourcepacks
.minecraft/rhino.local.properties
.minecraft/saves
.minecraft/schematics
.minecraft/screenshots
.minecraft/server-resource-packs
.minecraft/servers.dat_old
.minecraft/shaderpacks
.minecraft/texturepacks
.minecraft/usercache.json
.minecraft/usernamecache.json
.minecraft/xaero